
include ./footer-modals.pug
script(src="libs/jquery/jquery-3.4.1.min.js")
script(src="libs/jquery-ui/jquery-ui.min.js")
script(src="libs/range/range-touch.js")
script(src="libs/langdate/datelang.js")
script(src="js/common.js")
