header.header
    .header__nav
        .main-menu
            .burger
                span
                span
                span
            nav.main-nav              
                ul.main-nav__list
                    li
                        a(href="#about").link-about Личная информация
                    li
                        a(href="#skill").link-skill Опыт
                    li
                        a(href="#js-level").link-js JavaScript
                    li
                        a(href="#about-self").link-self О себе
    .header__title
        .header__bg
            p Анкета
                    
